<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm404.samyang3.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="OrderVO" useGeneratedKeys="true" keyProperty="orderID">
        INSERT INTO Orders (UserID, UserName, TotalAmount, OrderStatus, ShippingAddress, PaymentMethod)
        VALUES (#{userID}, #{userName}, #{totalAmount}, #{orderStatus}, #{shippingAddress}, #{paymentMethod})
    </insert>
    
    <select id="selectByUserId" parameterType="Integer" resultType="OrderVO">
        SELECT * FROM Orders 
        WHERE UserID = #{userID}
        ORDER BY OrderID DESC
    </select>
    
    <select id="selectById" parameterType="Integer" resultType="OrderVO">
        SELECT * FROM Orders
        WHERE OrderID = #{orderID}
    </select>
    
    <select id="selectAllOrders" resultType="OrderVO">
        SELECT * FROM Orders
        ORDER BY OrderID DESC
    </select>
    
    <update id="updateStatus">
        UPDATE Orders 
        SET OrderStatus = #{status}
        WHERE OrderID = #{orderID}
    </update>
    
    <select id="selectLatestByUserId" parameterType="Integer" resultType="OrderVO">
        SELECT * FROM Orders 
        WHERE UserID = #{userID}
        ORDER BY OrderID DESC
        LIMIT 1
    </select>

</mapper>