<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm404.samyang3.mapper.OrderItemMapper">

    <insert id="insertOrderItem" parameterType="OrderItemVO" useGeneratedKeys="true" keyProperty="orderItemID">
        INSERT INTO OrderItem (OrderID, ProductID, ProductName, Quantity, Price)
        VALUES (#{orderID}, #{productID}, #{productName}, #{quantity}, #{price})
    </insert>
    
    <select id="selectByOrderId" parameterType="Integer" resultType="OrderItemVO">
        SELECT * FROM OrderItem 
        WHERE OrderID = #{orderID}
        ORDER BY OrderItemID
    </select>
    
    <insert id="insertOrderItems" parameterType="list">
        INSERT INTO OrderItem (OrderID, ProductID, ProductName, Quantity, Price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderID}, #{item.productID}, #{item.productName}, #{item.quantity}, #{item.price})
        </foreach>
    </insert>

</mapper>